@charset "UTF-8";
.full-width, .full-screen {
  min-width: 100vw;
  width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0; }

.full-height, .full-screen {
  min-height: 100vh;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0; }

.tarjeta {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.ido {
  display: none; }

.escondido {
  visibility: hidden; }

/*$primaryColor: #03A696;
$primaryDarkColor: #025159;
$accentColor: #F20505;
$secondaryColor: #F28705;
$secondaryDarkColor: #F25D27;*/
/* Colores */
/* Tamaños Pantallas */
.menu-lateral {
  height: 100vh;
  background-color: #5675a7;
  position: relative; }

.contenedor-parte-superior {
  height: 70%; }

.titulo-menu {
  color: lightgray; }

.opcion {
  color: white;
  cursor: pointer;
  position: relative;
  width: 100%; }

.opcion-seleccionada {
  background-color: #4f88e5; }

.texto-opcion {
  display: inline-block;
  position: relative;
  bottom: 2px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.icono {
  display: inline-block;
  position: relative;
  right: 2.5%;
  width: 16px;
  height: 16px; }

.icono path {
  fill: white; }

.contenedor-parte-inferior {
  position: absolute;
  width: 100%;
  height: 30%; }

.contenedor-logout {
  position: relative;
  width: 100%;
  margin-top: 20%; }

.contenedor-logout > .icono {
  right: 4%; }

/* Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1216px) {
  .contenedor-parte-superior {
    padding-top: 80%; }
  .titulo-menu {
    padding-left: 15%;
    margin-bottom: 8%; }
  .opcion {
    padding: 8% 0% 8% 20%; }
  .contenedor-logout {
    padding-left: 20%;
    margin-top: 25%; } }

/* Widescreen */
@media only screen and (min-width: 1216px) and (max-width: 1408px) {
  .contenedor-parte-superior {
    padding-top: 80%; }
  .titulo-menu {
    padding-left: 20%;
    margin-bottom: 8%; }
  .opcion {
    padding: 8% 0% 8% 25%; }
  .opcion > p {
    font-size: 1.2rem; }
  .contenedor-logout {
    padding-left: 25%;
    margin-top: 25%; } }

/* Full-HD */
@media only screen and (min-width: 1408px) {
  .contenedor-parte-superior {
    padding-top: 80%; }
  .titulo-menu {
    padding-left: 20%;
    margin-bottom: 4%; }
  .opcion {
    padding: 6% 0% 6% 25%; }
  .texto-opcion {
    display: inline-block;
    font-size: 1.2rem; }
  .icono {
    right: 4%;
    width: 20px;
    height: 20px; }
  .contenedor-logout {
    padding-left: 25%;
    margin-top: 25%; } }
