@charset"utf-8";

@import"bulma/sass/utilities/initial-variables.sass";
@import"assets/sass/Main.module.scss";

.contenedor-principal {
    position: relative;
    display: inline-block;
    width: 100%;
}

.contenedor-animacion {
    position: relative;
    width: 50%;
    left: 25%;
    top: 10%;
    height: 50%;
}

.contenedor-texto {
    position: relative;
    top: 100px;
    width: 80%;
    left: 10%;

    p {    
        font-size: 2.3rem;
        text-align: center;
    }

    button {
        position: relative;
        margin-top: 100px;
        left: 32.5%;
        width: 35%;
        padding: 30px 0;
        font-family: 'swanSeaItalic';
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        background-color: white;
        color: black;
        border: 1px solid $secondaryColor;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.2s ease 0s;
        cursor: pointer;
        outline: none;

        &:hover { 
            background-color: $secondaryColor;
            box-shadow: 5px 10px 20px $secondaryDarkColor;
            color: #fff;
            font-weight: bold;
            transform: translateY(-5px);
        }
    }
}