@charset "UTF-8";
.full-width, .full-screen {
  min-width: 100vw;
  width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0; }

.full-height, .full-screen {
  min-height: 100vh;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0; }

/*$primaryColor: #03A696;
$primaryDarkColor: #025159;
$accentColor: #F20505;
$secondaryColor: #F28705;
$secondaryDarkColor: #F25D27;*/
/* Colores */
/* Tamaños Pantallas */
.contenedor-principal {
  width: 100%;
  max-width: 950px;
  height: 200px;
  margin-top: 35px;
  border-radius: 30px;
  overflow: hidden; }

.contenedor-imagen {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  clip-path: ellipse(120px 160px at 35% 50%);
  background-color: #4f88e5; }

.imagen-resumen-informe {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 20%;
  top: 22.5%; }

.contenedor-textos {
  position: absolute;
  width: calc(100% - 250px);
  height: 100%;
  right: 0;
  top: 0; }

.titulo-informe {
  display: inline-block;
  position: absolute;
  top: 25%;
  padding-right: 40px;
  font-size: 1.7rem;
  line-height: 2rem; }

.fecha-informe {
  display: inline-block;
  max-width: 85%;
  position: relative;
  margin-top: 120px;
  font-size: 1.2rem;
  padding-right: 30px; }

.imagen-estado {
  position: absolute;
  width: 28px;
  height: 28px;
  bottom: 24px;
  right: 32px;
  cursor: pointer; }

@media screen and (min-width: 1024px) and (max-width: 1216px) {
  .contenedor-principal {
    height: 170px; }
  .contenedor-imagen {
    height: 100%;
    width: 200px;
    clip-path: ellipse(120px 160px at 35% 50%); }
  .titulo-informe {
    position: absolute;
    top: 15%;
    font-size: 1.4rem; }
  .fecha-informe {
    font-size: 1.1rem;
    margin-top: 100px; } }

@media screen and (min-width: 1216px) and (max-width: 1408px) {
  .contenedor-principal {
    height: 190px; }
  .contenedor-imagen {
    height: 100%;
    width: 200px;
    clip-path: ellipse(120px 160px at 35% 50%); } }
