@charset"utf-8";

@import"../../../../node_modules/bulma/sass/utilities/initial-variables.sass";
@import"../Main.module.scss";

.contenedor-principal {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #F7F7F9;
    overflow-y: scroll;
}

.tarjeta {
    position: absolute;
    margin: 50px 0;
    padding: 30px 0 50px 0;
}

.imagen-flecha {
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: 5%;
    background-image: url('../../images/flecha-derecha-negra.svg');
    transform: rotateZ(180deg);
}

.contenedor-opcion {
    position: relative;
    margin-top: 20px;
    padding-left: 12.5%;
    padding-right: 10%;
}

.contenedor-genero {
    height: 90px;
}

.imagen-genero {
    display: inline-block;
    width: 70px;
    height: 40px;
    margin-top: 15px;
    background-position: center;
    background-repeat: no-repeat;
}

.genero-seleccionado {
    background-color: rgba(#5EDAFF, 0.2);
}

.imagen-femenina {
    background-image: url("../../../assets/images/genero_femenino.svg");
}

.imagen-masculina {
    background-image: url("../../../assets/images/genero_masculino.svg");
}

label {
    margin-bottom: 8px;
}

.label-genero {
    height: 20px;
    position: relative;
    font-size: 0.85rem;
}

input {
    width: 80%;
}

input[type=tel]{
    width: 160px;
}

.texto-error {
    color: red;
}

.error-genero {
    
}

.boton-registrar {
    position: relative;
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
    padding: 15px 0;
    color: white;
    background-color: $primaryColor;
    letter-spacing: 0.1rem;
    border: none;
    font-size: 1.1rem;

    &:focus, &:hover {
        border: none;
    }
}

// Mobile
@media only screen and (max-width: $tablet) {

    .tarjeta {
        width: 90%;
        left: 5%;
    }

    input {
        width: 90%;
    }

    .texto-error {
        font-size: 0.75rem;
    }
}

// Tablet
@media only screen and (min-width: $tablet) and (max-width: $desktop) {
    
    .tarjeta {
        width: 70%;
        left: 15%;
    }
}

// Desktop
@media only screen and (min-width: $desktop) and (max-width: $widescreen) {
    
    .tarjeta {
        width: 60%;
        left: 20%;
    }
}

// Widescreen
@media only screen and (min-width: $widescreen) and (max-width: $fullhd) {
    
    .tarjeta {
        width: 50%;
        left: 25%;
    }
}

// Fullhd
@media only screen and (min-width: $fullhd) {
    
    .tarjeta {
        width: 900px;
        left: calc((100% - 900px) / 2);
    }

    input {
        width: 70%;
    }

    .boton-registrar {
        font-size: 1.25rem;
    }
}

